html {
  main {
    z-index: 0;
    div {
      img {
        // banner
        width: 100%;
      }
    }

    .move {
      padding-left: 15%;
      padding-right: 15%;
      .PB {
        width: 4rem;
        height: 4rem;
        background-image: url(24.jpg);
        position: relative;
        background-position: center;
        background-size: 80px;
        border-radius: 50%;
      }

      .daten {
        position: relative;
        left: 80px;
        bottom: 4rem;

        li {
          font-weight: 100;
          font-size: small;
          list-style: none;
          color: rgb(150, 149, 149);

          h1 {
            color: white;
            font-size: x-large;
            font-weight: 500;
          }
        }
      }
      .abo {
        position: relative;
        float: right;
        bottom: 120px;
      }
      .abobutton {
        background-color: rgb(47, 47, 47);
        border-radius: 25px;
        border-style: none;
        height: 35px;
        width: 100px;
        color: lightgray;

      }
    }
  }
}
