html {
  .navleiste {
    background-color: black;
    position: relative;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;

    form {
      width: 50%;
      display: flex;
      justify-content: center;
      height: 35px;
      margin-top: 6px;

      input {
        width: 100%;
      }
      .luppe {
        width: 13%;
        border-radius: 0px 25px 25px 0px;
        border-width: 1px;
        border-color:rgb(41, 41, 41);
        background-color: rgb(41, 41, 41);
      }
      .search {
        border-radius: 25px 0px 0px 25px;
        border-color:rgb(41, 41, 41);
        border-width: 1px;
        background-color: rgb(18, 18, 18);
        padding: 12px;
      }
      ::placeholder{
        color: rgb(152, 152, 152);
        font-weight: 500;
        
        
        
        
      }
    }
  }
  .pb {
    // pofielbild
    width: 40px;
    height: 40px;
    background-image: url(24.jpg);
    position: relative;
    background-position: center;
    background-size: 80px;
    border-radius: 50%;
    margin-right: 3%;
    top: 5px;
  }

  .logo {
    display: flex;
    width: 10%;
    margin-left: 50px;
  }
}
